.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  &__button {
    font-size: 1rem;
    background-color: rgb(72, 236, 154);
    color: #333;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: royalblue;
    }
  }
  &__item {
    padding: 0px 10px;
  }
  &__link {
    text-decoration: none;
  }
  &__link:hover {
    color: royalblue;
  }
}
