<nav>
  <ul class="navBar">
    <li class="navBar__item">
      <a
        [routerLink]="['/projects']"
        routerLinkActive="router-link-active"
        class="navBar__link"
        >PROJECTS</a
      >
    </li>
    <li class="navBar__item">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">
        <img
          src="../../../assets/icons8-archive-64.png"
          alt="Bootstrap"
          width="50"
        />
      </a>
    </li>
    <li class="navBar__item">
      <a
        class="navBar__link"
        [routerLink]="['/tasks']"
        routerLinkActive="router-link-active"
        >TASKS</a
      >
    </li>
  </ul>
</nav>
