//Pseudoelemento exclusivo de angular, es aquella manera en la que el componente pueda hacer referencia a si mismo

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-Pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
