<header>
  <nav>
    <ul class="navBar">
      <li class="navBar__button" (click)="openModal()">ADD PROJECT</li>
      <li class="navBar__item">
        <a
          [routerLink]="['/projects']"
          routerLinkActive="router-link-active"
          class="navBar__link"
          >PROJECTS</a
        >
      </li>
      <li class="navBar__item">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
          <img
            src="../../../assets/icons8-archive-64.png"
            alt="logo"
            width="50"
          />
        </a>
      </li>
      <li class="navBar__item">
        <a
          class="navBar__link"
          [routerLink]="['/tasks']"
          routerLinkActive="router-link-active"
          >TASKS</a
        >
      </li>
      <li class="navBar__button">ADD TASK</li>
    </ul>
  </nav>
</header>
<ng-container *ngIf="modalSwitch == true">
  <app-modal></app-modal>
</ng-container>
